In [35]:
#importing needed modules to clean demographics dataset
import pandas as pd

In [36]:
#reading in csv
Demographics=pd.read_csv("Demographics.csv")

In [38]:
Demographics.head()

,Suburb,ID,0 to 4,5 to 19,20 to 39,40 to 59,60+,Not Stated,Machinery,Labourers,Community,Technicians,Sales,Clerical,Managers,Professionals,Born in Australia,Total
0,Abbotsford,627,319.0,535.0,4740.0,1582.0,997.0,92.0,78.0,182.0,472.0,396.0,378.0,541.0,860.0,2179.0,4512.0,8184.0
1,Aberfeldie,647,179.0,897.0,850.0,1281.0,684.0,37.0,43.0,92.0,203.0,218.0,242.0,336.0,384.0,564.0,3021.0,3897.0
2,Airport West,757,463.0,1012.0,2240.0,1920.0,1932.0,71.0,225.0,246.0,365.0,503.0,371.0,605.0,466.0,758.0,5064.0,7564.0
3,Albanvale,787,371.0,1000.0,1621.0,1373.0,1129.0,55.0,289.0,418.0,208.0,321.0,201.0,233.0,121.0,199.0,2287.0,5491.0
4,Albert Park,797,367.0,938.0,1469.0,1943.0,1493.0,69.0,22.0,76.0,184.0,159.0,263.0,327.0,760.0,1209.0,4095.0,6215.0

In [41]:
#consolidating occupation data into 2 categories; jobs requiring a tertiary qualification and jobs not requiring a tertiary qualification

Demographics["Job requires Tertiary qualification"]=Demographics["Technicians"]+Demographics["Managers"]+Demographics["Professionals"]
Demographics["Job Does not require a Tertiary qualification"]=Demographics["Not Stated"]+Demographics["Machinery"]+Demographics["Labourers"]+Demographics["Community"]+Demographics["Sales"]+Demographics["Clerical"]
Demographics["Total Surveyed for Job"]=Demographics["Job requires Tertiary qualification"]+Demographics["Job Does not require a Tertiary qualification"]

In [43]:
#Total Percentage of people holding jobs that require tertiary and do not require tertiary
Demographics["% holding Job requiring Tertiary"]=(Demographics["Job requires Tertiary qualification"]/Demographics["Total Surveyed for Job"])*100
Demographics["% holding job not requiring Tertiary"]=(Demographics["Job Does not require a Tertiary qualification"]/Demographics["Total Surveyed for Job"])*100

In [46]:
#Percentage of migrants in each suburb who are born within and outside of Australia 
Demographics["Born outside of Australia"]=Demographics["Total"]-Demographics["Born in Australia"]
Demographics["Percent born in Aus"]=(Demographics["Born in Australia"]/Demographics["Total"])*100
Demographics["Percent born outside of Aus"]=(Demographics["Born outside of Australia"]/Demographics["Total"])*100
Demographics.head()

,Suburb,ID,0 to 4,5 to 19,20 to 39,40 to 59,60+,Not Stated,Machinery,Labourers,...,Born in Australia,Total,Job requires Tertiary qualification,Job Does not require a Tertiary qualification,Total Surveyed for Job,% holding Job requiring Tertiary,% holding job not requiring Tertiary,Born outside of Australia,Percent born in Aus,Percent born outside of Aus
0,Abbotsford,627,319.0,535.0,4740.0,1582.0,997.0,92.0,78.0,182.0,...,4512.0,8184.0,3435.0,1743.0,5178.0,66.338355,33.661645,3672.0,55.131965,44.868035
1,Aberfeldie,647,179.0,897.0,850.0,1281.0,684.0,37.0,43.0,92.0,...,3021.0,3897.0,1166.0,953.0,2119.0,55.025956,44.974044,876.0,77.521170,22.478830
2,Airport West,757,463.0,1012.0,2240.0,1920.0,1932.0,71.0,225.0,246.0,...,5064.0,7564.0,1727.0,1883.0,3610.0,47.839335,52.160665,2500.0,66.948704,33.051296
3,Albanvale,787,371.0,1000.0,1621.0,1373.0,1129.0,55.0,289.0,418.0,...,2287.0,5491.0,641.0,1404.0,2045.0,31.344743,68.655257,3204.0,41.649973,58.350027
4,Albert Park,797,367.0,938.0,1469.0,1943.0,1493.0,69.0,22.0,76.0,...,4095.0,6215.0,2128.0,941.0,3069.0,69.338547,30.661453,2120.0,65.888978,34.111022

In [51]:
#Dataset only including the clean and formatted data
Demographics=Demographics[["Suburb", "ID", "0 to 4", "5 to 19", "20 to 39", "40 to 59", "60+", "Job requires Tertiary qualification", "Job Does not require a Tertiary qualification", "% holding Job requiring Tertiary", "% holding job not requiring Tertiary", "Born in Australia", "Born outside of Australia", "Percent born in Aus", "Percent born outside of Aus"]]

Demographics.to_csv("Demographics_edited.csv")